{
  "openapi": "3.1.0",
  "info": {
    "title": "Brand Exposure API",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api.intel471.cloud/integrations/brand-exposure/v1",
      "description": "Brand Exposure API server"
    }
  ],
  "paths": {
    "/config/current/{section}": {
      "get": {
        "operationId": "get_config_current_section_brand_exposure_v1_config_current__section__get",
        "summary": "Get Config Current Section",
        "parameters": [
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Section"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-config"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/config/defaults/{section}": {
      "get": {
        "operationId": "get_config_defaults_section_brand_exposure_v1_config_defaults__section__get",
        "summary": "Get Config Defaults Section",
        "parameters": [
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Section"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-config"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/config/schema": {
      "get": {
        "operationId": "get_config_schema_brand_exposure_v1_config_schema_get",
        "summary": "Get Config Schema",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPISchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-config"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/config/user/{section}": {
      "get": {
        "operationId": "get_config_user_section_brand_exposure_v1_config_user__section__get",
        "summary": "Get Config User Section",
        "parameters": [
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Section"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-config"
        ],
        "x-api-package": "BrandExposure"
      },
      "put": {
        "operationId": "put_config_user_section_brand_exposure_v1_config_user__section__put",
        "summary": "Put Config User Section",
        "parameters": [
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Section"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration-Input"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "tags": [
          "brand-exposure-config"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/monitor": {
      "get": {
        "operationId": "get_brand_exposure_monitors",
        "summary": "List Monitors",
        "parameters": [
          {
            "name": "last_run_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Last Run After"
            }
          },
          {
            "name": "last_run_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Last Run Before"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/monitor_api__configure___locals___MonitorInfo__4"
                  },
                  "title": "Response Get Brand Exposure Monitors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-monitor"
        ],
        "x-api-package": "BrandExposure"
      },
      "post": {
        "operationId": "create_brand_exposure_monitor",
        "summary": "Create Monitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_brand_exposure_monitor"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMonitorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-monitor"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/monitor/{id}": {
      "delete": {
        "operationId": "delete_brand_exposure_monitor",
        "summary": "Delete Monitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-monitor"
        ],
        "x-api-package": "BrandExposure"
      },
      "get": {
        "operationId": "get_brand_exposure_monitor",
        "summary": "Get Monitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "ID of the monitor to fetch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/monitor_api__configure___locals___MonitorInfo__4"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-monitor"
        ],
        "x-api-package": "BrandExposure"
      },
      "patch": {
        "operationId": "edit_brand_exposure_monitor",
        "summary": "Edit Monitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "ID of the monitor to modify"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_edit_brand_exposure_monitor"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-monitor"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/monitor/{id}/logs": {
      "get": {
        "operationId": "get_brand_exposure_monitor_logs",
        "summary": "Get Monitor Logs",
        "description": "by default, logs are ordered by timestamp in descending order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "log_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "INFO",
                  "STATUS",
                  "ERROR",
                  "FATAL"
                ],
                "type": "string"
              },
              "title": "Log Type",
              "uniqueItems": true
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Search Text"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Cursor"
            }
          },
          {
            "name": "backward",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Backward"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorLogs"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-monitor"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/monitor/{id}/run": {
      "post": {
        "operationId": "run_brand_exposure_monitor",
        "summary": "Manually schedule a scan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Timestamp UTC in seconds",
                "type": "integer",
                "maximum": 4294967296,
                "minimum": 0,
                "title": "At"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-monitor"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/monitor/{id}/scans": {
      "get": {
        "operationId": "get_brand_exposure_monitor_scans",
        "summary": "Get Monitor Scans",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "enum": [
                      "CREATED",
                      "INITIALISING",
                      "STARTED",
                      "STARTING",
                      "RUNNING",
                      "CORRELATING",
                      "FINISHED",
                      "ABORTED",
                      "ABORT-REQUESTED",
                      "ERROR-FAILED",
                      "POST PROCESSING",
                      "OPEN",
                      "ANALYSIS RUNNING"
                    ],
                    "type": "string"
                  },
                  "type": "array",
                  "uniqueItems": true
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scan"
                  },
                  "title": "Response Get Brand Exposure Monitor Scans"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/scan/{scan_id}/data": {
      "get": {
        "operationId": "get_brand_exposure_scan_data",
        "summary": "Get scan data",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Category",
              "uniqueItems": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Type",
              "uniqueItems": true
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Source",
              "uniqueItems": true
            }
          },
          {
            "name": "annotated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Annotated"
            }
          },
          {
            "name": "starred",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Starred"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Text"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ScanDataSort"
            }
          },
          {
            "name": "descending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Descending"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 10000,
              "minimum": 1,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Cursor"
            }
          },
          {
            "name": "backward",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Backward"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deprecated_scan_api__ScanDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/scan/{scan_id}/data-graph": {
      "get": {
        "operationId": "get_brand_exposure_scan_data_graph",
        "summary": "Get scan data graph",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Category",
              "uniqueItems": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Type",
              "uniqueItems": true
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Source",
              "uniqueItems": true
            }
          },
          {
            "name": "annotated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Annotated"
            }
          },
          {
            "name": "starred",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Starred"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Text"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deprecated_scan_api__DataGraphResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/scan/{scan_id}/data-tree": {
      "get": {
        "operationId": "get_brand_exposure_scan_data_tree",
        "summary": "Get scan data tree",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Category",
              "uniqueItems": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Type",
              "uniqueItems": true
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Source",
              "uniqueItems": true
            }
          },
          {
            "name": "annotated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Annotated"
            }
          },
          {
            "name": "starred",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Starred"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Text"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deprecated_scan_api__TreeNode"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/scan/{scan_id}/data/{element_id}": {
      "get": {
        "operationId": "get_brand_exposure_scan_data_element",
        "summary": "Get scan data element",
        "parameters": [
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Element Id"
            }
          },
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataElement"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      },
      "patch": {
        "operationId": "patch_brand_exposure_scan_data_element",
        "summary": "Set a note or a star for a scan data element",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          },
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Element Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_patch_brand_exposure_scan_data_element"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-monitor"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/scan/{scan_id}/data/{element_id}/children": {
      "get": {
        "operationId": "get_brand_exposure_scan_data_element_children",
        "summary": "Get scan data element children",
        "parameters": [
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Element Id"
            }
          },
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataEvent"
                  },
                  "title": "Response Get Brand Exposure Scan Data Element Children"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/scan/{scan_id}/data/{element_id}/discovery": {
      "get": {
        "operationId": "get_brand_exposure_scan_data_element_discovery",
        "summary": "Get scan data discovery path",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          },
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Element Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deprecated_scan_api__TreeNode"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/scan/{scan_id}/data/{element_id}/events": {
      "get": {
        "operationId": "get_brand_exposure_scan_data_element_events",
        "summary": "Get scan data element events",
        "parameters": [
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Element Id"
            }
          },
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataEvent"
                  },
                  "title": "Response Get Brand Exposure Scan Data Element Events"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      }
    },
    "/scan/{scan_id}/data/{element_id}/relationships": {
      "get": {
        "operationId": "get_brand_exposure_scan_data_element_relationships",
        "summary": "Get scan data element relationships",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          },
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Element Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGraph"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "brand-exposure-scan"
        ],
        "x-api-package": "BrandExposure"
      }
    }
  },
  "components": {
    "schemas": {
      "ASEMonitorDefinition": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "collection_method": {
            "$ref": "#/components/schemas/CollectionMethod"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "disabled_modules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Disabled Modules"
          },
          "event_types": {
            "description": "Event data types to collect. If none selected (default), all event types will be collected.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Event Types"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "iteration": {
            "$ref": "#/components/schemas/IterationOptions"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact",
          "collection_method"
        ],
        "title": "ASEMonitorDefinition"
      },
      "AlertOptions": {
        "type": "object",
        "properties": {
          "callback_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Callback Url"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Emails"
          },
          "excluded_event_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Excluded Event Types"
          },
          "excluded_finding_risks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskLabel"
            },
            "title": "Excluded Finding Risks"
          },
          "slack_webhook": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slack Webhook"
          }
        },
        "title": "AlertOptions"
      },
      "AuthenticatedUser": {
        "type": "object",
        "properties": {
          "authorized_use_cases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScanScheduleUseCase"
            },
            "title": "Authorized Use Cases",
            "uniqueItems": true
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "instance_id": {
            "type": "string",
            "title": "Instance Id"
          },
          "is_admin": {
            "type": "boolean",
            "title": "Is Admin"
          },
          "is_advanced": {
            "type": "boolean",
            "default": false,
            "title": "Is Advanced"
          }
        },
        "required": [
          "email",
          "instance_id",
          "authorized_use_cases",
          "is_admin"
        ],
        "title": "AuthenticatedUser"
      },
      "Body_create_ase_monitor": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "collection_method": {
            "$ref": "#/components/schemas/CollectionMethod"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "disabled_modules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Disabled Modules"
          },
          "event_types": {
            "description": "Event data types to collect. If none selected (default), all event types will be collected.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Event Types"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "iteration": {
            "$ref": "#/components/schemas/IterationOptions"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact",
          "collection_method"
        ],
        "title": "Body_create_ase_monitor"
      },
      "Body_create_brand_exposure_monitor": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "disabled_modules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Disabled Modules"
          },
          "event_types": {
            "description": "Event data types to collect. If none selected (default), all event types will be collected.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Event Types"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "iteration": {
            "$ref": "#/components/schemas/IterationOptions"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact"
        ],
        "title": "Body_create_brand_exposure_monitor"
      },
      "Body_create_breach_detection_monitor": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact"
        ],
        "title": "Body_create_breach_detection_monitor"
      },
      "Body_create_tprm_monitor": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "collection_method": {
            "default": "passive",
            "$ref": "#/components/schemas/CollectionMethod"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact"
        ],
        "title": "Body_create_tprm_monitor"
      },
      "Body_edit_ase_monitor": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "collection_method": {
            "$ref": "#/components/schemas/CollectionMethod"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "disabled_modules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Disabled Modules"
          },
          "event_types": {
            "description": "Event data types to collect. If none selected (default), all event types will be collected.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Event Types"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "iteration": {
            "$ref": "#/components/schemas/IterationOptions"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact",
          "collection_method"
        ],
        "title": "Body_edit_ase_monitor"
      },
      "Body_edit_brand_exposure_monitor": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "disabled_modules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Disabled Modules"
          },
          "event_types": {
            "description": "Event data types to collect. If none selected (default), all event types will be collected.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Event Types"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "iteration": {
            "$ref": "#/components/schemas/IterationOptions"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact"
        ],
        "title": "Body_edit_brand_exposure_monitor"
      },
      "Body_edit_breach_detection_monitor": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact"
        ],
        "title": "Body_edit_breach_detection_monitor"
      },
      "Body_edit_finding": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "title": "Note"
          },
          "workflow_assignee": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Workflow Assignee"
          },
          "workflow_status": {
            "$ref": "#/components/schemas/WorkflowStatus",
            "title": "Workflow Status"
          }
        },
        "title": "Body_edit_finding"
      },
      "Body_edit_tprm_monitor": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "collection_method": {
            "default": "passive",
            "$ref": "#/components/schemas/CollectionMethod"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact"
        ],
        "title": "Body_edit_tprm_monitor"
      },
      "Body_patch_ase_scan_data_element": {
        "type": "object",
        "properties": {
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note"
          },
          "starred": {
            "type": "boolean",
            "title": "Starred"
          }
        },
        "title": "Body_patch_ase_scan_data_element"
      },
      "Body_patch_brand_exposure_scan_data_element": {
        "type": "object",
        "properties": {
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note"
          },
          "starred": {
            "type": "boolean",
            "title": "Starred"
          }
        },
        "title": "Body_patch_brand_exposure_scan_data_element"
      },
      "Body_patch_breach_detection_scan_data_element": {
        "type": "object",
        "properties": {
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note"
          },
          "starred": {
            "type": "boolean",
            "title": "Starred"
          }
        },
        "title": "Body_patch_breach_detection_scan_data_element"
      },
      "Body_patch_scan_data_element_exposure_v1_scan__scan_id__data__element_id__patch": {
        "type": "object",
        "properties": {
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note"
          },
          "starred": {
            "type": "boolean",
            "title": "Starred"
          }
        },
        "title": "Body_patch_scan_data_element_exposure_v1_scan__scan_id__data__element_id__patch"
      },
      "Body_patch_tprm_scan_data_element": {
        "type": "object",
        "properties": {
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note"
          },
          "starred": {
            "type": "boolean",
            "title": "Starred"
          }
        },
        "title": "Body_patch_tprm_scan_data_element"
      },
      "BrandExposureMonitorDefinition": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "disabled_modules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Disabled Modules"
          },
          "event_types": {
            "description": "Event data types to collect. If none selected (default), all event types will be collected.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Event Types"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "iteration": {
            "$ref": "#/components/schemas/IterationOptions"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact"
        ],
        "title": "BrandExposureMonitorDefinition"
      },
      "BreachDetectionMonitorDefinition": {
        "type": "object",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/AlertOptions"
          },
          "created_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Created At"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "impact": {
            "$ref": "#/components/schemas/Impact"
          },
          "labels": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "minItems": 0,
            "title": "Labels"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "start_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Start At"
          },
          "targets": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "pattern": "^(\\b25[0-5]|\\b2[0-4][0-9]|\\b[01]?[0-9][0-9]?)(\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+/\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^[a-zA-Z0-9.!#$%&'*+-/=^_`{|}~]+@(localhost|[a-zA-Z0-9.-]+\\.[a-zA-Z0-9-]{2,})$",
                  "type": "string"
                },
                {
                  "pattern": "^\\+\\d+$",
                  "type": "string"
                },
                {
                  "pattern": "^(?:[\\w\\'’.-]+)(?:\\s+[\\w\\'’.-]+)+$",
                  "type": "string"
                },
                {
                  "pattern": "^\\d{1,10}$",
                  "type": "string"
                },
                {
                  "pattern": "(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))",
                  "type": "string"
                },
                {
                  "pattern": "^(bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$",
                  "type": "string"
                },
                {
                  "pattern": "^(([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])\\.)+([\\w\\d\\-]|[\\w\\d][\\w\\d\\-]*[\\w\\d])$",
                  "type": "string"
                },
                {
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "type": "string"
                },
                {
                  "pattern": "^\\S{2,64}$",
                  "type": "string"
                }
              ]
            },
            "examples": [
              [
                "8.8.8.8",
                "1.2.3.0/32",
                "jane.doe@example.com",
                "+12345678910",
                "Jane Doe",
                "1234",
                "::ffff:101:101some.example.com",
                "some.example.com",
                "username"
              ]
            ],
            "minItems": 1,
            "title": "Targets"
          }
        },
        "required": [
          "name",
          "targets",
          "labels",
          "frequency",
          "impact"
        ],
        "title": "BreachDetectionMonitorDefinition"
      },
      "BreachReport": {
        "type": "object",
        "properties": {
          "confidence": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence"
          },
          "last_updated_at": {
            "anyOf": [
              {
                "maximum": 4294967296,
                "minimum": 0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated At"
          },
          "link": {
            "type": "string",
            "title": "Link"
          },
          "snippet": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Snippet"
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Summary"
          },
          "threat_actor_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Threat Actor Name"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "victim": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Victim"
          }
        },
        "required": [
          "link",
          "title"
        ],
        "title": "BreachReport"
      },
      "CVE": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "link": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Link"
          },
          "score": {
            "type": "number",
            "maximum": 10,
            "minimum": 0,
            "title": "Score"
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Summary"
          }
        },
        "required": [
          "id",
          "score"
        ],
        "title": "CVE"
      },
      "CollectionMethod": {
        "type": "string",
        "enum": [
          "passive",
          "essential",
          "full"
        ],
        "title": "CollectionMethod"
      },
      "CompletedExportJob_TypeVar_": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "title": "Id"
          },
          "completed_at": {
            "anyOf": [
              {
                "maximum": 4294967296,
                "minimum": 0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          },
          "error": {
            "type": "null",
            "title": "Error"
          },
          "lease_expires_at": {
            "type": "null",
            "title": "Lease Expires At"
          },
          "params": {
            "discriminator": {
              "mapping": {
                "findings": "#/components/schemas/sfmodel__NestedVariant__1",
                "scan-data": "#/components/schemas/sfmodel__NestedVariant__2"
              },
              "propertyName": "tag"
            },
            "oneOf": [
              {
                "$ref": "#/components/schemas/sfmodel__NestedVariant__1"
              },
              {
                "$ref": "#/components/schemas/sfmodel__NestedVariant__2"
              }
            ],
            "title": "Params"
          },
          "result": {
            "type": "string",
            "title": "Result"
          },
          "scheduled_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Scheduled At"
          },
          "started_at": {
            "type": "integer",
            "maximum": 4294967296,
            "minimum": 0,
            "title": "Started At"
          },
          "status": {
            "type": "string",
            "default": "completed",
            "const": "completed",
            "title": "Status"
          },
          "user_email": {
            "type": "string",
            "title": "User Email"
          }
        },
        "required": [
          "scheduled_at",
          "started_at",
          "completed_at",
          "user_email",
          "params",
          "result"
        ],
        "title": "CompletedExportJob"
      },
      "Components": {
        "type": "object",
        "properties": {
          "schemas": {
            "$ref": "#/components/schemas/Schemas"
          }
        },
        "required": [
          "schemas"
        ],
        "title": "Components"
      },
      "Configuration-Input": {
        "type": "object",
        "properties": {
          "enabled_modules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Enabled Modules",
            "uniqueItems": true
          },
          "firehoses": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/RestFirehose"
                },
                {
                  "$ref": "#/components/schemas/ElasticFirehose"
                },
                {
                  "$ref": "#/components/schemas/SplunkFirehose"
                }
              ]
            },
            "title": "Firehoses"
          },
          "general": {
            "$ref": "#/components/schemas/GeneralConfig"
          },
          "modules": {
            "type": "object",
            "additionalProperties": {
              "additionalProperties": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer"
                  },
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "number"
                  }
                ]
              },
              "type": "object"
            },
            "title": "Modules"
          },
          "rules": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RuleConfig"
            },
            "title": "Rules"
          }
        },
        "title": "Configuration"
      },
      "Configuration-Output": {
        "type": "object",
        "properties": {
          "enabled_modules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Enabled Modules",
            "uniqueItems": true
          },
          "firehoses": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/RestFirehose"
                },
                {
                  "$ref": "#/components/schemas/ElasticFirehose"
                },
                {
                  "$ref": "#/components/schemas/SplunkFirehose"
                }
              ]
            },
            "title": "Firehoses"
          },
          "general": {
            "$ref": "#/components/schemas/GeneralConfig"
          },
          "modules": {
            "type": "object",
            "additionalProperties": {
              "additionalProperties": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer"
                  },
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "number"
                  }
                ]
[...]
