{
  "openapi": "3.1.0",
  "info": {
    "title": "Credentials API",
    "version": "1.0.1",
    "description": "Returns list of Credential sets matching filter criteria."
  },
  "servers": [
    {
      "url": "https://api.intel471.cloud/integrations/creds/v1",
      "description": "Credentials API server"
    }
  ],
  "paths": {
    "/credentials/stream": {
      "get": {
        "operationId": "getCredentialsStream",
        "summary": "Credential stream",
        "description": "Returns list of Credentials matching filter criteria. The response contains “cursor_next” field, which should be provided to the next subsequent call to fetch potential next page of the results. Results are sorted by ascending order of the last_updated_ts field.\nTwo indications of the end of the stream are possible: the result list is empty or its size is less than the requested items count.",
        "parameters": [
          {
            "name": "credential_set_name",
            "in": "query",
            "description": "Search by credential set name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credential_set_id",
            "in": "query",
            "description": "Search by credential set id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Search by credential domain(detection domain).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "affiliation_group",
            "in": "query",
            "description": "Possible values: my_employees, my_customers, third_parties, vip_emails",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "my_customers",
                "my_employees",
                "third_parties",
                "vip_emails"
              ]
            }
          },
          {
            "name": "password_strength",
            "in": "query",
            "description": "Possible values: excellent, strong, medium, weak, poor, not_provided",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "excellent",
                "medium",
                "not_provided",
                "poor",
                "strong",
                "weak"
              ]
            }
          },
          {
            "name": "password_length_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_lowercase_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_uppercase_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_numbers_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_punctuation_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_symbols_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_separators_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_other_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_entropy_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_plain",
            "in": "query",
            "description": "Must be URL encoded",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credential_login",
            "in": "query",
            "description": "Search by credential login.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "detected_malware",
            "in": "query",
            "description": "Search by credential detected malware. For example: agent_tesla, Lumma, VIDAR",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "girs",
            "in": "query",
            "description": "Filter results by custom GIRs (General Intelligence Requirements), my_girs or company_pirs. Using multiple values will return results based on the aggregated GIR list",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1.0.1,2.1.0,my_girs,company_pirs"
          },
          {
            "name": "from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "last_updated_from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds) or period e.g. 24hours or 7days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_updated_until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds) or period e.g. 24hours or 7days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Range is: [1, 1000]",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue scrolling from cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCredResponseStream"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Credentials"
        ]
      }
    },
    "/credentials/occurrences/stream": {
      "get": {
        "operationId": "getCredentialsOccurrencesStream",
        "summary": "Credential occurrence stream",
        "description": "Returns list of Credential occurrences matching filter criteria. Stream pagination is based on a cursor. The response is the same as for the /credentials/occurrences endpoint but with the additional “cursorNext” field. Results are sorted by ascending order of the lastUpdated field.\nTwo indications of the end of the stream are possible: the result list is empty or its size is less than the requested items count.",
        "parameters": [
          {
            "name": "credential_id",
            "in": "query",
            "description": "Search by credential id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credential_set_name",
            "in": "query",
            "description": "Search by credential set name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credential_set_id",
            "in": "query",
            "description": "Search by credential set id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Search by credential domain(detection domain).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "affiliation_group",
            "in": "query",
            "description": "Possible values: my_employees, my_customers, third_parties, vip_emails",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "my_customers",
                "my_employees",
                "third_parties",
                "vip_emails"
              ]
            }
          },
          {
            "name": "password_strength",
            "in": "query",
            "description": "Possible values: excellent, strong, medium, weak, poor, not_provided",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "excellent",
                "medium",
                "not_provided",
                "poor",
                "strong",
                "weak"
              ]
            }
          },
          {
            "name": "password_length_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_lowercase_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_uppercase_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_numbers_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_punctuation_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_symbols_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_separators_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_other_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_entropy_gte",
            "in": "query",
            "description": "Must be greater than or equal to 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "password_plain",
            "in": "query",
            "description": "Must be URL encoded",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credential_login",
            "in": "query",
            "description": "Search by credential login.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "detected_malware",
            "in": "query",
            "description": "Search by credential detected malware. For example: agent_tesla, Lumma, VIDAR",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "girs",
            "in": "query",
            "description": "Filter results by custom GIRs (General Intelligence Requirements), my_girs or company_pirs. Using multiple values will return results based on the aggregated GIR list",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1.0.1,2.1.0,my_girs,company_pirs"
          },
          {
            "name": "from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "last_updated_from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds) or period e.g. 24hours or 7days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_updated_until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds) or period e.g. 24hours or 7days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Range is: [1, 1000]",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue scrolling from cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCredOccurrenceResponseStream"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Credentials"
        ]
      }
    },
    "/credential-sets/stream": {
      "get": {
        "operationId": "getCredential-setsStream",
        "summary": "Credential set stream",
        "description": "Returns list of Credential sets matching filter criteria. The response contains “cursor_next” field, which should be provided to the next subsequent call to fetch potential next page of the results. Results are sorted by ascending order of the last_updated_ts field.\nTwo indications of the end of the stream are possible: the result list is empty or its size is less than the requested items count.",
        "parameters": [
          {
            "name": "credential_set_name",
            "in": "query",
            "description": "Search by credential set name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "girs",
            "in": "query",
            "description": "Filter results by custom GIRs (General Intelligence Requirements), my_girs or company_pirs. Using multiple values will return results based on the aggregated GIR list",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1.0.1,2.1.0,my_girs,company_pirs"
          },
          {
            "name": "victim",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "last_updated_from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds) or period e.g. 24hours or 7days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_updated_until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds) or period e.g. 24hours or 7days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Range is: [1, 1000]",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue scrolling from cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCredSetResponseStream"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Credentials"
        ]
      }
    },
    "/credential-sets/accessed-urls/stream": {
      "get": {
        "operationId": "getCredential-setsAccessed-urlsStream",
        "summary": "Credential set accessed url stream",
        "description": "Returns list of Credential sets accessed urls matching filter criteria. The response contains “cursor_next” field, which should be provided to the next subsequent call to fetch potential next page of the results. Results are sorted by ascending order of the last_updated_ts field.\nTwo indications of the end of the stream are possible: the result list is empty or its size is less than the requested items count.",
        "parameters": [
          {
            "name": "credential_set_id",
            "in": "query",
            "description": "Search by credential set id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credential_set_name",
            "in": "query",
            "description": "Search by credential set name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessed_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "girs",
            "in": "query",
            "description": "Filter results by custom GIRs (General Intelligence Requirements), my_girs or company_pirs. Using multiple values will return results based on the aggregated GIR list",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1.0.1,2.1.0,my_girs,company_pirs"
          },
          {
            "name": "victim",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "last_updated_from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds) or period e.g. 24hours or 7days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_updated_until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds) or period e.g. 24hours or 7days",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Range is: [1, 1000]",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue scrolling from cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCredSetAccessedUrlResponseStream"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Credentials"
        ]
      }
    },
    "/credentials/occurrences/{id}": {
      "get": {
        "operationId": "getCredentialsOccurrencesId",
        "summary": "Get credential occurrence by ID",
        "description": "Returns a single Credential occurrence matching requested ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the credential occurrence",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cred-occurrence--8fc815ac-7516-588e-b1ba-a468a739cc03"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCredOccurrenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Credentials"
        ]
      }
    },
    "/credentials/{id}": {
      "get": {
        "operationId": "getCredentialsId",
        "summary": "Get credential by ID",
        "description": "Returns a single Credential matching requested ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the credential",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cred--5fe9b010-e063-5aca-a9f0-eacb1998d60a"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCredResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Credentials"
        ]
      }
    },
    "/credential-sets/{id}": {
      "get": {
        "operationId": "getCredential-setsId",
        "summary": "Get credential set by ID",
        "description": "Returns a single Credential set matching requested ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the credential set",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cred-set--8372c01c-3822-573a-a443-e580fca26b5b"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCredSetResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Credentials"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityResponse": {
        "description": "Period credential was active.",
        "type": "object",
        "properties": {
          "first_seen_ts": {
            "description": "Start of the credential activity range.",
            "type": "string"
          },
          "last_seen_ts": {
            "description": "End of the credential activity range.",
            "type": "string"
          }
        },
        "required": [
          "first_seen_ts",
          "last_seen_ts"
        ]
      },
      "BadRequest": {
        "description": "Bad request response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "ClassificationResponse": {
        "description": "Classification of credentials.",
        "type": "object",
        "properties": {
          "girs": {
            "description": "General Intelligence Requirements that match the credential.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GirsResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "CredCredentialSetResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique credential set identifier.",
            "type": "string"
          },
          "name": {
            "description": "Name of the credential set.",
            "type": "string"
          }
        }
      },
      "CredDataResponse": {
        "description": "Credential with related objects.",
        "type": "object",
        "properties": {
          "credential_login": {
            "description": "Login of the credential.",
            "type": "string"
          },
          "credential_domain": {
            "description": "Domain of the credential.",
            "type": "string"
          },
          "detection_domain": {
            "description": "Detection domain of the credential.",
            "type": "string"
          },
          "affiliations": {
            "description": "Affiliation of the credential. Allowed values: my_employees, vip_emails, my_customers, third_parties.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "password": {
            "$ref": "#/components/schemas/CredPasswordResponse"
          },
          "credential_sets": {
            "description": "Credential sets associated with the credential.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredCredentialSetResponse"
            }
          },
          "info_stealer": {
            "$ref": "#/components/schemas/InfoStealerResponse_Set"
          },
          "accessed_url": {
            "description": "Accessed URL of the credential.",
            "type": "string"
          },
          "credential_set_type": {
            "description": "Type(s) of the credential set(s) this credential belongs to.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "info_stealer"
        ]
      },
      "CredPasswordComplexityResponse": {
        "description": "Details of the password's complexity.",
        "type": "object",
        "properties": {
          "lowercase": {
            "description": "The number of lowercase letters in the password.",
            "type": "integer",
            "format": "int32"
          },
          "uppercase": {
            "description": "The number of uppercase letters in the password.",
            "type": "integer",
            "format": "int32"
          },
          "numbers": {
            "description": "The number of digits in the password.",
            "type": "integer",
            "format": "int32"
          },
          "symbols": {
            "description": "The number of symbols in the password.",
            "type": "integer",
            "format": "int32"
          },
          "punctuation_marks": {
            "description": "The number of punctuation marks in the password.",
            "type": "integer",
            "format": "int32"
          },
          "separators": {
            "description": "The number of separators in the password.",
            "type": "integer",
            "format": "int32"
          },
          "other": {
            "description": "The number of other characters in the password.",
            "type": "integer",
            "format": "int32"
          },
          "length": {
            "description": "The length of the password.",
            "type": "integer",
            "format": "int32"
          },
          "score": {
            "description": "The password score.",
            "type": "number",
            "format": "double"
          },
          "weakness": {
            "description": "The password weakness.",
            "type": "number",
            "format": "double"
          },
          "entropy": {
            "description": "The password entropy.",
            "type": "number",
            "format": "double"
          }
        }
      },
      "CredPasswordResponse": {
        "description": "Credential password details.",
        "type": "object",
        "properties": {
          "complexity": {
            "$ref": "#/components/schemas/CredPasswordComplexityResponse"
          },
          "strength": {
            "description": "Password strength. Allowed values: excellent, strong, medium, weak, poor, not_provided.",
            "type": "string"
          },
          "id": {
            "description": "ID of the password.",
            "type": "string"
          },
          "password_plain": {
            "description": "Password plain text.",
            "type": "string"
          }
        }
      },
      "CredSetAccessedUrlDataResponse": {
        "description": "Credential set accessed URL with related objects.",
        "type": "object",
        "properties": {
          "accessed_url": {
            "description": "Accessed URL.",
            "type": "string"
          },
          "accessed_domain": {
            "description": "Accessed domain.",
            "type": "string"
          },
          "credential_set": {
            "$ref": "#/components/schemas/CredCredentialSetResponse"
          }
        },
        "required": [
          "accessed_url"
        ]
      },
      "CredSetDataResponse": {
        "description": "Credential set with related objects.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the credential set.",
            "type": "string"
          },
          "description": {
            "description": "Description of the credential set.",
            "type": "string"
          },
          "record_count": {
            "description": "Number of records.",
            "type": "integer",
            "format": "int64"
          },
          "disclosure_ts": {
            "description": "Date of disclosure.",
            "type": "string",
            "format": "date-time"
          },
          "breach_ts": {
            "description": "Date of breach.",
            "type": "string",
            "format": "date-time"
          },
          "collected_ts": {
            "description": "Date of collection.",
            "type": "string",
            "format": "date-time"
          },
          "victims": {
            "description": "List of purported victims.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VictimResponse"
            }
          },
          "sources": {
            "description": "List of sources.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinksSource"
            }
          }
        }
      },
      "CredSetStatisticsResponse": {
        "description": "Statistics regarding returned objects.",
        "type": "object",
        "properties": {
          "credentials_count": {
            "description": "Number of credentials.",
            "type": "integer",
            "format": "int64"
          },
          "credential_occurrences_count": {
            "description": "Number of credential occurrences.",
            "type": "integer",
            "format": "int64"
          },
          "accessed_urls_count": {
            "description": "Number of accessed URLs.",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CredStatisticsResponse": {
        "description": "Statistics regarding returned objects.",
        "type": "object",
        "properties": {
          "accessed_urls_count": {
            "description": "Number of accessed URLs.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CredentialOccurrenceCredResponse": {
        "description": "Sub-document containing credential information",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique credential identifier.",
            "type": "string"
          },
          "credential_login": {
            "description": "Login of the credential.",
            "type": "string"
          },
          "credential_domain": {
            "description": "Domain of the credential.",
            "type": "string"
          },
          "detection_domain": {
            "description": "Detection domain of the credential.",
            "type": "string"
          },
          "affiliations": {
            "description": "Affiliation of the credential. Allowed values: my_employees, vip_emails, my_customers, third_parties.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "password": {
            "$ref": "#/components/schemas/CredPasswordResponse"
          }
        },
        "required": [
          "id"
        ]
      },
      "CredentialOccurrenceDataResponse": {
        "description": "Credential occurrence with related objects.",
        "type": "object",
        "properties": {
          "file_path": {
            "description": "Credential occurrence file path.",
            "type": "string"
          },
          "accessed_url": {
            "description": "Accessed URL.",
            "type": "string"
          },
          "credential": {
            "$ref": "#/components/schemas/CredentialOccurrenceCredResponse"
          },
          "credential_set": {
            "$ref": "#/components/schemas/CredCredentialSetResponse"
          },
          "info_stealer": {
            "$ref": "#/components/schemas/InfoStealerResponse_Option"
          },
          "software_name": {
            "description": "Name of the software.",
            "type": "string"
          },
          "credential_type": {
            "description": "Type of the credential set this credential belongs to.",
            "type": "string"
          }
        },
        "required": [
          "info_stealer"
        ]
      },
      "Forbidden": {
        "description": "Forbidden response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "GetCredOccurrenceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique credential occurrence identifier.",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CredentialOccurrenceDataResponse"
          },
          "classification": {
            "$ref": "#/components/schemas/ClassificationResponse"
          },
          "last_updated_ts": {
            "description": "Credential occurrence last modification date.",
            "type": "string"
          },
          "activity": {
            "$ref": "#/components/schemas/ActivityResponse"
          }
        },
        "required": [
          "id",
          "data",
          "last_updated_ts",
          "activity"
        ]
      },
      "GetCredOccurrenceResponseStream": {
        "type": "object",
        "properties": {
          "count": {
            "description": "Number of total credential occurrences",
            "type": "integer",
            "format": "int64"
          },
          "cursor_next": {
            "description": "Stream position identifier to continue scrolling from",
            "type": "string"
          },
          "credential_occurrences": {
            "description": "Credential occurrences",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetCredOccurrenceResponse"
            }
          }
        },
        "required": [
          "count"
        ]
      },
      "GetCredResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique credential identifier.",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CredDataResponse"
          },
          "statistics": {
            "$ref": "#/components/schemas/CredStatisticsResponse"
          },
          "classification": {
            "$ref": "#/components/schemas/ClassificationResponse"
          },
          "last_updated_ts": {
            "description": "Credential last modification date.",
            "type": "string"
          },
          "activity": {
            "$ref": "#/components/schemas/ActivityResponse"
          }
        },
        "required": [
          "id",
          "data",
          "last_updated_ts",
          "activity"
        ]
      },
      "GetCredResponseStream": {
        "type": "object",
        "properties": {
          "count": {
            "description": "Number of total credentials",
            "type": "integer",
            "format": "int64"
          },
          "cursor_next": {
            "description": "Stream position identifier to continue scrolling from",
            "type": "string"
          },
          "credentials": {
            "description": "The credentials",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetCredResponse"
            }
          }
        },
        "required": [
          "count"
        ]
      },
      "GetCredSetAccessedUrlResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique credential set accessed url identifier.",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CredSetAccessedUrlDataResponse"
          },
          "classification": {
            "$ref": "#/components/schemas/ClassificationResponse"
          },
          "last_updated_ts": {
            "description": "Credential set accessed url last modification date.",
            "type": "string"
          },
          "activity": {
            "$ref": "#/components/schemas/ActivityResponse"
          }
        },
        "required": [
          "id",
          "data",
          "last_updated_ts",
          "activity"
        ]
      },
      "GetCredSetAccessedUrlResponseStream": {
        "type": "object",
        "properties": {
          "count": {
            "description": "Number of total access urls",
            "type": "integer",
            "format": "int64"
          },
          "cursor_next": {
            "description": "Stream position identifier to continue scrolling from",
            "type": "string"
          },
          "access_urls": {
            "description": "Access urls",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetCredSetAccessedUrlResponse"
            }
          }
        },
        "required": [
          "count"
        ]
      },
      "GetCredSetResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique credential set identifier.",
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CredSetDataResponse"
          },
          "statistics": {
            "$ref": "#/components/schemas/CredSetStatisticsResponse"
          },
          "classification": {
            "$ref": "#/components/schemas/ClassificationResponse"
          },
          "last_updated_ts": {
            "description": "Credential set last modification date.",
            "type": "string"
          },
          "activity": {
            "$ref": "#/components/schemas/ActivityResponse"
          }
        },
        "required": [
          "id",
          "data",
          "last_updated_ts",
          "activity"
        ]
      },
      "GetCredSetResponseStream": {
        "type": "object",
        "properties": {
          "count": {
            "description": "Number of total credential sets",
            "type": "integer",
            "format": "int64"
          },
          "cursor_next": {
            "description": "Stream position identifier to continue scrolling from",
            "type": "string"
          },
          "credential_sets": {
            "description": "Credential sets",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetCredSetResponse"
            }
          }
        },
        "required": [
          "count"
        ]
      },
      "GirsResponse": {
        "type": "object",
        "properties": {
          "path": {
            "description": "Path of the General Intelligence Requirement.",
            "type": "string"
          },
          "name": {
            "description": "Name of the General Intelligence Requirement.",
            "type": "string"
          }
        },
        "required": [
          "path",
          "name"
        ]
      },
      "InfoStealerResponse_Option": {
        "description": "Array of malware family objects.",
        "type": "object",
        "properties": {
          "malware_family": {
            "description": "Malware family name.",
            "type": "string"
          },
          "malware_install_path": {
            "description": "Malware installation path.",
            "type": "string"
          },
          "screenshot_path": {
            "description": "Screenshot path.",
            "type": "string"
          },
          "infection_ts": {
            "description": "Date of infection.",
            "type": "string"
          },
          "machine_id": {
            "description": "Id of the machine.",
            "type": "string"
          },
          "pc_name": {
            "description": "Name of the machine.",
            "type": "string"
          },
          "computer_username": {
            "description": "Name of the user account.",
            "type": "string"
          },
          "ip": {
            "description": "IP address.",
            "type": "string"
          },
          "os": {
            "description": "Operating system.",
            "type": "string"
          },
          "antivirus_software": {
            "description": "Antivirus software.",
            "type": "string"
          },
          "isp": {
            "description": "Internet Service Provider.",
            "type": "string"
          },
          "version": {
            "description": "Version.",
            "type": "string"
          }
        }
      },
      "InfoStealerResponse_Set": {
        "description": "Array of malware family objects.",
        "type": "object",
        "properties": {
          "malware_family": {
            "description": "Malware family name.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "malware_install_path": {
            "description": "Malware installation path.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "screenshot_path": {
            "description": "Screenshot path.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "infection_ts": {
            "description": "Date of infection.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "machine_id": {
            "description": "Id of the machine.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pc_name": {
            "description": "Name of the machine.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "computer_username": {
            "description": "Name of the user account.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ip": {
            "description": "IP address.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "os": {
            "description": "Operating system.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "antivirus_software": {
            "description": "Antivirus software.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isp": {
            "description": "Internet Service Provider.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "version": {
            "description": "Version.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "LinksSource": {
        "type": "object",
        "properties": {
          "title": {
            "description": "Title of the source",
            "type": "string"
          },
          "links": {
            "$ref": "#/components/schemas/SourceLinks"
          },
          "type": {
            "description": "Type of the source",
            "type": "string"
          }
        },
        "required": [
          "links",
          "type"
        ]
      },
      "NotFound": {
        "description": "Not found response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "SourceLink": {
        "description": "Link",
        "type": "object",
        "properties": {
          "href": {
            "description": "Link URL",
            "type": "string"
          }
        },
        "required": [
          "href"
        ]
      },
      "SourceLinks": {
        "description": "Available links",
        "type": "object",
        "properties": {
          "verity_api": {
            "$ref": "#/components/schemas/SourceLink"
          },
          "verity_portal": {
            "$ref": "#/components/schemas/SourceLink"
          },
          "external": {
            "$ref": "#/components/schemas/SourceLink"
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "VictimResponse": {
        "type": "object",
        "properties": {
          "name": {
            "description": "Purported victim name.",
            "type": "string"
          },
          "urls": {
            "description": "List of purported victim URLs.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name"
        ]
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}