{
  "openapi": "3.1.0",
  "info": {
    "description": "Welcome to the **Malware API** This package is used to retrieve malware families and malware events.  Malware families refer to groups of malicious software that share common characteristics, codebases, behaviors,  or tactics, techniques, and procedures and malware events refer to documented or detected incidents  involving malicious software (malware).",
    "title": "Malware API",
    "version": "1.0.1"
  },
  "servers": [
    {
      "description": "Malware Intel API url",
      "url": "https://api.intel471.cloud/integrations/malware-intel/v1"
    }
  ],
  "paths": {
    "/events/stream": {
      "get": {
        "operationId": "getEventsStream",
        "summary": "Stream malware events using a cursor",
        "description": "Malware events sorted in ascending order of processed time.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Search events by type",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "download_plugin"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue scrolling from cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NTg2ZDYwOWUtNzhmMS00MDY5LTg3M2QtYTI5MWRjNzBhNTYyOjE3MDU0NTA5MDgwMDA6ZmM5NGY1NGM2MzZlOTc2ZmFhZmVjMTAwMmY2Y2U1OWIxYWY0ZjcxZg=="
          },
          {
            "name": "text_filter",
            "in": "query",
            "description": "Free text indicator search (all fields included)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Georgia"
          },
          {
            "name": "malware_id",
            "in": "query",
            "description": "Search indicators by malware id",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "malware--61617350-6466-5fd8-8272-1266be341a1e"
          },
          {
            "name": "malware_family_id",
            "in": "query",
            "description": "Search indicators by malware family id",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "malware-family--92eb4b5f-cfc5-5460-bd43-53fae450ac9a"
          },
          {
            "name": "malware_family_name",
            "in": "query",
            "description": "Search indicators by malware family",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "dreambot"
          },
          {
            "name": "girs",
            "in": "query",
            "description": "Filter result by custom GIRs (General intel requirements), `my_girs` or `company_pirs`. Using multiple value will return result based on the aggregated GIR list",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1.0.1,2.1.0,my_girs,company_pirs"
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned. Max size: `1000`",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "maximum": 1000,
              "minimum": 1
            },
            "example": 1000
          },
          {
            "name": "from",
            "in": "query",
            "description": "Long unix timestamp in milliseconds. Search data starting from given `activity.first_seen_ts` and `activity.last_seen_ts` (including). Example - `1627776000000`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Long unix timestamp in milliseconds. Search data ending before given `activity.first_seen_ts` and `activity.last_seen_ts` (excluding). Example - `1627776000000`",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsStream"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ]
      }
    },
    "/events/{id}": {
      "get": {
        "operationId": "getEventById",
        "summary": "Get event by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the event",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "malware-event--4cb1a2c0-cd42-5eab-8761-5ae5826b4bd9"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationsEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ]
      }
    },
    "/malware": {
      "get": {
        "operationId": "getMalwareList",
        "summary": "Get list of malware families.",
        "description": "Get malware families sorted by last_seen_ts, descending order by default.",
        "parameters": [
          {
            "name": "text_filter",
            "in": "query",
            "description": "Free text indicator search (all fields included)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Georgia"
          },
          {
            "name": "malware_family_id",
            "in": "query",
            "description": "Search indicators by malware family id",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "malware-family--92eb4b5f-cfc5-5460-bd43-53fae450ac9a"
          },
          {
            "name": "malware_family_name",
            "in": "query",
            "description": "Search indicators by malware family",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "dreambot"
          },
          {
            "name": "girs",
            "in": "query",
            "description": "Filter result by custom GIRs (General intel requirements), `my_girs` or `company_pirs`. Using multiple value will return result based on the aggregated GIR list",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1.0.1,2.1.0,my_girs,company_pirs"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort response on different dates or malware family name",
            "required": false,
            "schema": {
              "type": "string",
              "default": "activity.last_seen_ts",
              "enum": [
                "activity.first_seen_ts",
                "activity.last_seen_ts",
                "malware_family_name"
              ]
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sorting order",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "example": 5
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned. Max size: `10000`",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 1000
          },
          {
            "name": "from",
            "in": "query",
            "description": "Long unix time or string time range. Search data starting from given `activity.first_seen_ts` and `activity.last_seen_ts` (including). Examples - `24hours` (By hours), `1627776000000` (By timestamp), `2days` (By days)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Long unix time or string time range. Search data ending before given `activity.first_seen_ts` and `activity.last_seen_ts` (excluding). Examples - `24hours` (By hours), `1627776000000` (By timestamp), `2days` (By days)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllMalwareProfiles"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Malware"
        ]
      }
    },
    "/malware/files/{file_name}/download": {
      "get": {
        "operationId": "getMalwareFile",
        "summary": "Get malware file using sha256",
        "parameters": [
          {
            "name": "file_name",
            "in": "path",
            "description": "SHA256 hash of the file with extension",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eeffc09c9824576ecaf99518916ed5e2a184b0f58526200142c23faf5be5e681.zip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Malware"
        ]
      }
    },
    "/malware/{id}": {
      "get": {
        "operationId": "getMalwareFamilyById",
        "summary": "Get malware family details by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "malware-family--92eb4b5f-cfc5-5460-bd43-53fae450ac9a"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplifiedMalwareProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Malware"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Activity": {
        "description": "Activity information related to the entity",
        "type": "object",
        "properties": {
          "first_seen_ts": {
            "description": "First time the entity was seen",
            "type": "string",
            "format": "date-time"
          },
          "last_seen_ts": {
            "description": "Last time the entity was seen",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "first_seen_ts",
          "last_seen_ts"
        ]
      },
      "AllMalwareProfiles": {
        "description": "List of malware profiles",
        "type": "object",
        "properties": {
          "count": {
            "description": "Total count of malware profiles",
            "type": "integer",
            "format": "int64"
          },
          "malware": {
            "description": "List of malware profiles",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimplifiedMalwareProfile"
            }
          }
        }
      },
      "BotSettings": {
        "description": "Bot settings information",
        "type": "object",
        "properties": {
          "encryption": {
            "description": "Encryption information.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Encryption"
            }
          },
          "exit_country": {
            "description": "Country where the malware bot is running.",
            "type": "string"
          },
          "settings": {
            "description": "Settings information.",
            "type": "array",
            "items": {
              "additionalProperties": {
                "type": "string"
              },
              "type": "object"
            }
          }
        }
      },
      "BulletproofHosting": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string"
          }
        }
      },
      "Classification": {
        "description": "Classification information for the entity",
        "type": "object",
        "properties": {
          "girs": {
            "description": "List of General Intelligence Requirements (GIRs) associated with the classification",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GIR"
            }
          }
        }
      },
      "ControllerUrl": {
        "description": "Controller URL information",
        "type": "object",
        "properties": {
          "url": {
            "description": "`url` of a controller.",
            "type": "string"
          }
        }
      },
      "Encryption": {
        "description": "Encryption information",
        "type": "object",
        "properties": {
          "algorithm": {
            "description": "Type of `algorithm` used in the encryption.",
            "type": "string"
          },
          "context": {
            "description": "The `context' of the event.",
            "type": "string"
          },
          "key": {
            "description": "The encryption `key`.",
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "EventController": {
        "description": "Controller information",
        "type": "object",
        "properties": {
          "ipv4": {
            "description": "The `ipv4` of a controller",
            "$ref": "#/components/schemas/Ipv4"
          },
          "url": {
            "description": "The `url` of a controller.",
            "type": "string"
          }
        }
      },
      "EventData": {
        "description": "Malware event data.",
        "type": "object",
        "properties": {
          "arguments": {
            "description": "Arguments.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "attack_targets": {
            "description": "Attack targets.",
            "type": "array",
            "items": {
              "additionalProperties": {
                "type": "string"
              },
              "type": "object"
            }
          },
          "attack_type": {
            "description": "Attack type.",
            "type": "string"
          },
          "bot_settings": {
            "description": "An object containing varying data types showing malware bot settings data. Contains any of but not limited the following fields: `exit_country`, `encryption`.",
            "$ref": "#/components/schemas/BotSettings"
          },
          "command": {
            "description": "Command.",
            "type": "string"
          },
          "component_type": {
            "description": "Type of component i.e. `CORE`.",
            "type": "string"
          },
          "config_file": {
            "description": "Config file.",
            "$ref": "#/components/schemas/File"
          },
          "controller": {
            "description": "Object containing the `url` and `ipv4` of a `controller`.",
            "$ref": "#/components/schemas/EventController"
          },
          "controllers": {
            "description": "An array of objects, each containing an individual controller's url.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ControllerUrl"
            }
          },
          "encryption": {
            "description": "An array of `encryption` meta data.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Encryption"
            }
          },
          "exfil_location": {
            "description": "Contains the url location of the exfiltration event.",
            "type": "string"
          },
          "file": {
            "description": "Object containing fields of the `file`'s hashes (`md5`, `sha1`, `sha256`) and file `type` and `size`.",
            "$ref": "#/components/schemas/File"
          },
          "function": {
            "description": "Function name.",
            "type": "string"
          },
          "inject_type": {
            "description": "Inject type.",
            "type": "string"
          },
          "location": {
            "description": "The `url` object of the location of the event.",
            "$ref": "#/components/schemas/Location"
          },
          "parameters": {
            "description": "Parameters.",
            "items": {
              "additionalProperties": {
                "type": "string"
              },
              "type": "object"
            },
            "type": "array"
          },
          "plugin_name": {
            "description": "Plugin's name.",
            "type": "string"
          },
          "plugin_type": {
            "description": "Type of plugin. i.e. `REMOTE_ACCESS`, `CREDENTIAL_STEALER`, `OTHER`.",
            "type": "string"
          },
          "recipient_domains": {
            "description": "Recipient domains.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientDomain"
            }
          },
          "recipient_file": {
            "description": "Recipient file.",
            "$ref": "#/components/schemas/File"
          },
          "redirects": {
            "description": "An array of redirects.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Redirect"
            }
          },
          "senders": {
            "description": "Senders.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "service_type": {
            "description": "Type of service.",
            "type": "string"
          },
          "settings": {
            "description": "An array of event related `settings` objects containing any of but not limited the following fields: `plugin_location`, `bot_version`, `compaign_id`, etc.",
            "$ref": "#/components/schemas/Settings"
          },
          "target_type": {
            "description": "Type of target.",
            "type": "string"
          },
          "template": {
            "description": "Template information.",
            "$ref": "#/components/schemas/Template"
          },
          "triggers": {
            "description": "An array of objects, each containing the field `trigger`.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trigger"
            }
          }
        }
      },
      "EventsStream": {
        "description": "Stream of events",
        "type": "object",
        "properties": {
          "count": {
            "description": "Total count of events matching the query",
            "type": "integer",
            "format": "int64"
          },
          "cursor_next": {
            "description": "Cursor for retrieving the next page of results",
            "type": "string"
          },
          "events": {
            "description": "List of events",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationsEvent"
            }
          }
        }
      },
      "File": {
        "description": "File information",
        "type": "object",
        "properties": {
          "md5": {
            "description": "MD5 hash of the file",
            "type": "string"
          },
          "sha1": {
            "description": "SHA-1 hash of the file",
            "type": "string"
          },
          "sha256": {
            "description": "SHA-256 hash of the file",
            "type": "string"
          },
          "size": {
            "description": "Size of the file in bytes",
            "type": "integer",
            "format": "int64"
          },
          "ssdeep": {
            "description": "SSDeep hash of the file",
            "type": "string"
          },
          "type": {
            "description": "Type of the file",
            "type": "string"
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "GIR": {
        "description": "General Intelligence Requirement information",
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the General Intelligence Requirement",
            "type": "string"
          },
          "path": {
            "description": "Path of the General Intelligence Requirement",
            "type": "string"
          }
        },
        "required": [
          "name",
          "path"
        ]
      },
      "GeoIp": {
        "description": "Geographical information associated with the IP address",
        "type": "object",
        "properties": {
          "city": {
            "description": "City name where the IP address is located",
            "type": "string"
          },
          "country": {
            "description": "Country name where the IP address is located",
            "type": "string"
          },
          "country_code": {
            "description": "Two-letter country code (ISO 3166-1 alpha-2) where the IP address is located",
            "type": "string"
          },
          "isp": {
            "description": "Internet Service Provider information for the IP address",
            "$ref": "#/components/schemas/IspData"
          },
          "subdivision": {
            "description": "Administrative subdivisions (states, provinces, etc.) where the IP address is located",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IntegrationsEvent": {
        "description": "Event data",
        "type": "object",
        "properties": {
          "activity": {
            "description": "Activity information related to the entity",
            "$ref": "#/components/schemas/Activity"
          },
          "classification": {
            "description": "Classification information for the entity",
            "$ref": "#/components/schemas/Classification"
          },
          "data": {
            "description": "Event-specific data",
            "$ref": "#/components/schemas/EventData"
          },
          "id": {
            "description": "Unique identifier of the entity",
            "type": "string"
          },
          "kill_chain_phases": {
            "description": "List of kill chain phases associated with the entity",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KillChainPhase"
            }
          },
          "threat": {
            "description": "Threat information associated with the entity",
            "$ref": "#/components/schemas/Threat"
          },
          "type": {
            "description": "Type of Event",
            "type": "string"
          }
        }
      },
      "Ipv4": {
        "description": "Information about an IPv4 address",
        "type": "object",
        "properties": {
          "geo_ip": {
            "description": "Geographical information associated with the IP address",
            "$ref": "#/components/schemas/GeoIp"
          },
          "ip_address": {
            "description": "IPv4 address in dotted decimal notation",
            "type": "string"
          }
        }
      },
      "IspData": {
        "description": "Internet Service Provider information for the IP address",
        "type": "object",
        "properties": {
          "autonomous_system": {
            "description": "Autonomous System Number (ASN) information",
            "type": "string"
          },
          "isp": {
            "description": "Name of the Internet Service Provider",
            "type": "string"
          },
          "network": {
            "description": "Network range information for the IP address",
            "type": "string"
          },
          "organization": {
            "description": "Organization name associated with the IP address",
            "type": "string"
          }
        }
      },
      "KillChainPhase": {
        "description": "Kill chain phase information",
        "type": "object",
        "properties": {
          "kill_chain_name": {
            "description": "Name of the kill chain framework",
            "type": "string"
          },
          "phase_name": {
            "description": "Name of the phase within the kill chain",
            "type": "string"
          }
        }
      },
      "Location": {
        "description": "Location information",
        "type": "object",
        "properties": {
          "ipv4": {
            "description": "IPv4 address.",
            "$ref": "#/components/schemas/Ipv4"
          },
          "url": {
            "description": "Url string.",
            "type": "string"
          }
        }
      },
      "Malware": {
        "description": "Malware information",
        "type": "object",
        "properties": {
          "component": {
            "description": "Component name of the malware",
            "type": "string"
          },
          "family": {
            "description": "Family name of the malware",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the malware",
            "type": "string"
          },
          "variant": {
            "description": "Variant of the malware version, if applicable",
            "type": "string"
          },
          "version": {
            "description": "Version string of the malware",
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "MalwareFamily": {
        "description": "Malware family information",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the malware family",
            "type": "string"
          },
          "name": {
            "description": "Name of the malware family",
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "RecipientDomain": {
        "description": "Recipient domain information",
        "type": "object",
        "properties": {
          "count": {
            "description": "Count of recipient domains.",
            "type": "integer",
            "format": "int32"
          },
          "domain": {
            "description": "Recipient domain.",
            "type": "string"
          }
        }
      },
      "Redirect": {
        "description": "Redirect information",
        "type": "object",
        "properties": {
          "address": {
            "description": "Address of the redirect.",
            "type": "string"
          },
          "host": {
            "description": "Host of the redirect.",
            "type": "string"
          }
        }
      },
      "Settings": {
        "description": "Settings information",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SimplifiedMalwareProfile": {
        "description": "Malware family profile",
        "type": "object",
        "properties": {
          "activity": {
            "description": "Activity information related to the malware",
            "$ref": "#/components/schemas/Activity"
          },
          "aliases": {
            "description": "List of alternative names for the malware",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classification": {
            "description": "Classification information for the malware",
            "$ref": "#/components/schemas/Classification"
          },
          "description": {
            "description": "Detailed description of the malware",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the malware profile",
            "type": "string"
          },
          "name": {
            "description": "Name of the malware",
            "type": "string"
          },
          "platforms": {
            "description": "List of platforms affected by the malware",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "title": {
            "description": "Title of the malware profile",
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "Template": {
        "description": "Template information",
        "type": "object",
        "properties": {
          "attachments": {
            "description": "Attachments information.",
            "$ref": "#/components/schemas/File"
          },
          "body": {
            "description": "Body of the template.",
            "type": "string"
          },
          "headers": {
            "description": "Headers of the template.",
            "type": "string"
          },
          "raw_content": {
            "description": "Raw content information.",
            "$ref": "#/components/schemas/File"
          },
          "sender": {
            "description": "Sender of the template.",
            "type": "string"
          },
          "subject": {
            "description": "Subject of the template.",
            "type": "string"
          }
        }
      },
      "Threat": {
        "description": "Threat information for the entity",
        "type": "object",
        "properties": {
          "data": {
            "description": "Detailed data about the threat",
            "$ref": "#/components/schemas/ThreatData"
          },
          "type": {
            "description": "Type of the threat",
            "type": "string",
            "enum": [
              "malware",
              "bulletproof_hosting"
            ]
          }
        }
      },
      "ThreatData": {
        "description": "Threat data information for the entity",
        "type": "object",
        "properties": {
          "bulletproof_hosting": {
            "description": "Information about the bulletproof hosting",
            "$ref": "#/components/schemas/BulletproofHosting"
          },
          "malware": {
            "description": "Information about the malware",
            "$ref": "#/components/schemas/Malware"
          },
          "malware_family": {
            "description": "Information about the malware family",
            "$ref": "#/components/schemas/MalwareFamily"
          }
        }
      },
      "Trigger": {
        "description": "Trigger information",
        "type": "object",
        "properties": {
          "trigger": {
            "description": "Path of a `trigger`.",
            "type": "string"
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "description": "Provide basic authentication credentials.",
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}