{
  "openapi": "3.1.0",
  "info": {
    "title": "Observables API",
    "version": "1.0.0",
    "description": "Welcome to the **Observables API** This package is used to retrieve observables."
  },
  "servers": [
    {
      "url": "https://api.intel471.cloud/integrations/observables/v1",
      "description": "Observables API server"
    }
  ],
  "paths": {
    "/observables/stream": {
      "get": {
        "operationId": "getObservablesStream",
        "summary": "Retrieve a stream of observables",
        "description": "Get observable stream.",
        "parameters": [
          {
            "name": "observable",
            "in": "query",
            "description": "Search by observable value.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Search by observable type.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ObservableType"
            },
            "example": "IPAddress"
          },
          {
            "name": "from",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1627776000000
          },
          {
            "name": "until",
            "in": "query",
            "description": "UNIX timestamp(in milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1627776000000
          },
          {
            "name": "size",
            "in": "query",
            "description": "Range is: [1, 1000]",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Continue scrolling from cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObservableStreamPage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "observables"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Activity": {
        "description": "Activity information for the observable",
        "type": "object",
        "properties": {
          "first_seen_ts": {
            "description": "First time the entity was seen",
            "type": "string",
            "format": "date-time"
          },
          "last_seen_ts": {
            "description": "Last time the entity was seen",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "first_seen_ts",
          "last_seen_ts"
        ]
      },
      "BadRequest": {
        "description": "Bad request response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "Conflict": {
        "description": "Conflict response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "Forbidden": {
        "description": "Forbidden response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "GeoIp": {
        "description": "Geo IP information for the observable",
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "subdivision": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isp": {
            "$ref": "#/components/schemas/Isp"
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "Isp": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string"
          },
          "autonomous_system": {
            "type": "string"
          },
          "isp": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          }
        }
      },
      "Link": {
        "description": "Link to the source",
        "type": "object",
        "properties": {
          "href": {
            "description": "URL to the source",
            "type": "string"
          }
        },
        "required": [
          "href"
        ]
      },
      "Links": {
        "description": "Links to the source",
        "type": "object",
        "properties": {
          "verity_api": {
            "$ref": "#/components/schemas/Link"
          },
          "verity_portal": {
            "$ref": "#/components/schemas/Link"
          },
          "external": {
            "$ref": "#/components/schemas/Link"
          }
        }
      },
      "NotFound": {
        "description": "Not found response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "Observable": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the observable",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ObservableType"
          },
          "value": {
            "description": "Value of the observable",
            "type": "string"
          },
          "geo_ip": {
            "$ref": "#/components/schemas/GeoIp"
          },
          "activity": {
            "$ref": "#/components/schemas/Activity"
          },
          "report": {
            "$ref": "#/components/schemas/Report"
          }
        },
        "required": [
          "id",
          "type",
          "value",
          "activity",
          "report"
        ]
      },
      "ObservableStreamPage": {
        "type": "object",
        "properties": {
          "count": {
            "description": "Total count of matched observables",
            "type": "integer",
            "format": "int64"
          },
          "cursor_next": {
            "description": "Stream position identifier to continue scrolling from",
            "type": "string"
          },
          "observables": {
            "description": "A page of matched observables",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Observable"
            }
          }
        },
        "required": [
          "count"
        ]
      },
      "ObservableType": {
        "type": "string",
        "enum": [
          "AutonomousSystem",
          "FileSize",
          "FileType",
          "FileName",
          "IPAddress",
          "MaliciousDomain",
          "MaliciousURL",
          "MD5",
          "SHA1",
          "SHA256",
          "SSLCertificate",
          "SSLCertificateFingerprint",
          "SSLCertificateID"
        ]
      },
      "Report": {
        "description": "Associated report information",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the report",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ReportType"
          },
          "sub_type": {
            "description": "Fintel or Geopol report subtype",
            "type": "string",
            "enum": [
              "fintel_blog",
              "adversary_profile",
              "threat_brief",
              "intelligence_summary",
              "malware_campaign",
              "spot_report",
              "underground_pulse",
              "breach_report",
              "actor_profile",
              "service_profile",
              "whitepaper",
              "underground_perspective",
              "tension_point_profile",
              "intelligence_bulletin",
              "intelligence_estimate",
              "significant_activity_report"
            ]
          },
          "creation_ts": {
            "description": "Timestamp when the report was created (ISO 8601)",
            "type": "string",
            "format": "date-time"
          },
          "last_updated_ts": {
            "description": "Timestamp when the report was last updated (ISO 8601)",
            "type": "string",
            "format": "date-time"
          },
          "information_ts": {
            "description": "Timestamp of the information in the report (ISO 8601)",
            "type": "string",
            "format": "date-time"
          },
          "released_ts": {
            "description": "Timestamp when the report was released (ISO 8601)",
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          }
        },
        "required": [
          "id",
          "type",
          "creation_ts",
          "last_updated_ts",
          "information_ts",
          "released_ts",
          "links"
        ]
      },
      "ReportType": {
        "description": "Type of the report",
        "type": "string",
        "enum": [
          "fintel",
          "info_report",
          "breach_alert",
          "spot_report",
          "vulnerability_report",
          "malware_report",
          "geopol_report",
          "situation_report",
          "news_report"
        ]
      },
      "Unauthorized": {
        "description": "Unauthorized response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Provide basic authentication credentials."
      }
    }
  }
}