{
  "openapi": "3.1.0",
  "info": {
    "title": "Watchers API",
    "version": "1.0.1",
    "description": "This package is used to retrieve alerts triggered by a user-defined watchers."
  },
  "servers": [
    {
      "description": "Watchers API server",
      "url": "https://api.intel471.cloud/integrations/watchers/v1"
    }
  ],
  "paths": {
    "/alerts/stream": {
      "get": {
        "operationId": "getAlertsStream",
        "summary": "Get alerts for the current user in a stream way",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor to be used to fetch next batch from stream",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the batch to return. Defaults to 1000. Max value 1000 (if size is bigger than this onlyfirst 1000 alerts will be returned)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Long unix time. Example - 1627776000000 (By timestamp)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Long unix time. Example - 1627776000000 (By timestamp)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "watcher_group_ids",
            "in": "query",
            "description": "Comma separated watcher group ids to filter alerts.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "121,3553,5334"
          },
          {
            "name": "watcher_ids",
            "in": "query",
            "description": "Comma separated watcher ids to filter alerts.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "121,3553,5334"
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Comma separated statuses to filter alerts. Allowed values are generated, needs_action, in_progress, completed and false_positive.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "generated,needs_action,completed"
          },
          {
            "name": "is_trashed_included",
            "in": "query",
            "description": "Include trashed alerts in the response. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingAlertsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alerts/{id}/{status}": {
      "put": {
        "operationId": "putAlertsIdStatus",
        "summary": "Change status of an alert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "generated",
                "needs_action",
                "in_progress",
                "completed",
                "false_positive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Alerts"
        ]
      }
    },
    "/watcher-groups": {
      "get": {
        "operationId": "getWatcher-groups",
        "summary": "Get list of watcher groups for user",
        "parameters": [
          {
            "name": "watcher_group_id",
            "in": "query",
            "description": "Enables returning only watchers for specific group",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "watcher_group_type",
            "in": "query",
            "description": "Enables filtering by group type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/WatcherGroupType"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter results based on watcher group name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWatcherGroupResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Watchers"
        ]
      }
    },
    "/watchers": {
      "get": {
        "operationId": "getWatchers",
        "summary": "Get list of watchers for the current user",
        "parameters": [
          {
            "name": "watcher_id",
            "in": "query",
            "description": "Enables returning only specific watcher",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "watcher_group_id",
            "in": "query",
            "description": "Enables returning only watchers for specific group",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dsl_query",
            "in": "query",
            "description": "Enables returning watchers with specific DSL query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "watcher_group_type",
            "in": "query",
            "description": "Enables filtering by group type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/WatcherGroupType"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter results based on watcher name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWatcherResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "Watchers"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequest": {
        "description": "Bad request response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "Conflict": {
        "description": "Conflict response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "Forbidden": {
        "description": "Forbidden response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "GetWatcherGroupResponse": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "creation_ts": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "is_editable": {
            "type": "boolean"
          },
          "is_global": {
            "type": "boolean"
          },
          "is_muted": {
            "type": "boolean"
          },
          "is_subscribed": {
            "type": "boolean"
          },
          "last_updated_ts": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "notification_settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationSettingsResponse"
            }
          },
          "organisation_id": {
            "type": "string"
          },
          "owner_user_id": {
            "type": "string"
          },
          "sharing_settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShareSettingsResponse"
            }
          },
          "updated_by": {
            "type": "string"
          },
          "watcher_ids": {
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "created_by",
          "owner_user_id",
          "organisation_id",
          "is_editable",
          "is_global",
          "is_subscribed",
          "is_muted",
          "creation_ts",
          "last_updated_ts"
        ]
      },
      "GetWatcherGroupResponseWrapper": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "watchers_groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWatcherGroupResponse"
            }
          }
        },
        "required": [
          "count"
        ]
      },
      "GetWatcherResponse": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "creation_ts": {
            "type": "string",
            "format": "date-time"
          },
          "data_sets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "dsl_query": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "is_muted": {
            "type": "boolean"
          },
          "last_updated_ts": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "notification_settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationSettingsResponse"
            }
          },
          "query_fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "updated_by": {
            "type": "string"
          },
          "watcher_group_id": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "id",
          "watcher_group_id",
          "name",
          "description",
          "dsl_query",
          "created_by",
          "is_muted",
          "creation_ts",
          "last_updated_ts"
        ]
      },
      "GetWatcherResponseWrapper": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "watchers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWatcherResponse"
            }
          }
        },
        "required": [
          "count"
        ]
      },
      "Highlight": {
        "type": "object",
        "properties": {
          "field_name": {
            "type": "string"
          },
          "snippets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "field_name"
        ]
      },
      "Href": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          }
        },
        "required": [
          "href"
        ]
      },
      "InternalServerError": {
        "description": "Internal server error response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "Links": {
        "type": "object",
        "properties": {
          "verity_api": {
            "$ref": "#/components/schemas/Href"
          },
          "verity_portal": {
            "$ref": "#/components/schemas/Href"
          }
        }
      },
      "NotFound": {
        "description": "Not found response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "NotificationPreferenceType": {
        "type": "string",
        "enum": [
          "UTC_HOUR",
          "IMMEDIATELY"
        ]
      },
      "NotificationSettingsResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "notification_channel": {
            "type": "string"
          },
          "notification_preference_type": {
            "$ref": "#/components/schemas/NotificationPreferenceType"
          },
          "notify_at_utc_hour": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "notification_preference_type",
          "notification_channel",
          "created"
        ]
      },
      "ShareSettingsResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "organisation_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        },
        "required": [
          "user_id",
          "organisation_id",
          "created"
        ]
      },
      "StreamingAlertsResponse": {
        "type": "object",
        "properties": {
          "alerts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StreamingWatcherAlert"
            }
          },
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "cursor_next": {
            "type": "string"
          }
        },
        "required": [
          "count"
        ]
      },
      "StreamingWatcherAlert": {
        "type": "object",
        "properties": {
          "creation_ts": {
            "type": "string",
            "format": "date-time"
          },
          "highlights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Highlight"
            }
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "is_trashed": {
            "type": "boolean"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "source_id": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "watcher_group_id": {
            "type": "integer",
            "format": "int64"
          },
          "watcher_id": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "id",
          "watcher_group_id",
          "watcher_id",
          "status",
          "source_type",
          "source_id",
          "links",
          "creation_ts",
          "is_trashed"
        ]
      },
      "Unauthorized": {
        "description": "Unauthorized response",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error message",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the error",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "error",
          "timestamp"
        ]
      },
      "WatcherGroupType": {
        "type": "string",
        "enum": [
          "editable",
          "owned",
          "subscribed",
          "shared",
          "i471_global"
        ]
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "scheme": "basic",
        "type": "http"
      }
    }
  }
}